:root {
  --serif: Georgia,serif;
  --sans-serif: "Helvetica Neue",Helvetica,sans-serif;
  --monospace: "Lucida Console",Monaco,monospace;
  --primary-colour: rgba(208, 2, 27, 1);
  --secondary-colour: rgba(39, 111, 191, 1);
  --tertiary-colour: rgba(4, 118, 88, 1);
  --white-colour: rgba(250, 249, 249, 1);
  --black-colour: rgba(11, 9, 9, 1);
  font-size: 24px;
  font-family: var(--sans-serif);
}
* {
  box-sizing: border-box;
  color: var(--black-colour);
  background-color: var(--white-colour)
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-height: 15vh;
  border-bottom: 1px solid var(--primary-colour);
}
main {
  max-width: 1280px;
  margin: 0 auto;
  min-height: 70vh;
  padding: 1rem 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
footer {
  min-height: 15vh;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
code, pre {
  font-family: var(--monospace);
}
code, a {
  color: var(--primary-colour);
}
a:hover, a:focus {
  text-decoration: none;
  color: var(--white-colour);
  background-color: var(--primary-colour);
}
pre, blockquote {
  color: var(--secondary-colour);
  border: 1px solid var(--secondary-colour);
  border-radius: 0 0 2rem 0;
  padding: 1rem;
}

pre {
  overflow: scroll;
}

blockquote::before {
  content: open-quote;
  font-size: 2rem;
}

#output {
  font-family: var(--monospace);
  color: var(--secondary-colour);
}
.update {
  color: var(--primary-colour);
}

/* Buttons */

button {
    font-size: 1.44rem;
    font-family: var(--monospace);
    padding: 1rem;
    margin: 0.83rem;
    border-radius: 0.58rem 0.58rem 1.44rem 0.58rem;
    filter: drop-shadow(0px 10px 20px rgba(11, 9, 9, 0.7));
}

button.small {
  font-size: 0.72rem;
  padding: 0.5rem;
  margin: 0.42rem;
  border-radius: 0.29rem 0.29rem 0.72rem 0.29rem;
  filter: drop-shadow(0px 5px 10px rgba(11, 9, 9, 0.7));
}

button:disabled, input[type="submit"]:disabled {
    opacity: 50%;
    filter: none;
}

button:hover:not(:disabled), button:focus:not(:disabled) {
    filter: drop-shadow(0px 5px 10px rgba(11, 9, 9, 0.5));
    filter: var(--normal-drop-shadow);
}

button, button:hover, button:focus {
    text-decoration: none;
}

button:active:not(:disabled) {
    position: relative;
    top: 1px;
    transform: scale(0.98);
}

button.primary, button {
    color: var(--white-colour);
    background-color: var(--primary-colour);
}

button.secondary {
    background-color: var(--secondary-colour);
}

button.tertiary {
    background-color: rgba(255, 191, 0, 1);;
    background-color: var(--tertiary-colour);
    color: var(--black-colour);
}

.loading {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--primary-colour);
  border-color: var(--primary-colour) transparent var(--primary-colour) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.articles > li > footer {
  min-height: 0;
  background-color: var(--white);
  font-family: var(--monospace);
}

/* Monster Shuffle Grid */

/**
 * A simple grid layout
 */
.row {
	display: grid;
	grid-template-columns: auto auto auto;
	text-align: center;
}

.grid {
	min-height: 6em;
	padding: 1em;
}

.door {
  display: flex;
  flex-direction: column;
}

/**
 * Make sure images scale
 */
img {
	height: auto;
	max-width: 100%;
}

scores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
  .score-wrapper {
  display: flex;
  flex-basis: ;
  flex-direction: row;
  justify-content: space-around;
  }
  .scores > h2 {
  text-align: center;
  }

  details {
    text-align: center;
  }
form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1.6rem;
  color: var(--secondary-colour)
}

input, textarea {
  font-size: 1.8rem;
}

div.status {
  opacity: 0;
  transition: 750ms;
}

div.status.temporary-status {
  opacity: 1;
}